.chat-main
  .chat-main__info
    .chat-main__info__names
      %p.chat-main__info__names__groupe aaa
      %p.chat-main__info__names__name aaa
    .chat-main__info__edit
      %p.chat-main__info__edit__font aaa
  .chat-main__message-list
    .chat-main__message-list__messages
      %p.chat-main__message-list__messages__name aaa
      %p.chat-main__message-list__messages__content aaa
  .chat-main__send-message
    .chat-main__send-message__messages
      .chat-main__send-message__messages__message-input
        %input.chat-main__send-message__messages__message-input__type-message
        %label{class: "chat-main__send-message__messages__message-input__send-image"}
          = icon('fas', 'image')
          %input{class: "chat-main__send-message__messages__message-input__send-image__none" ,type: "file"}
      %input.chat-main__send-message__messages__send-button{type: "submit" ,value: "Send"}
        